* {
  margin: 0;
}

$map: (
  Mes1: 7,
  Mes2: 3,
  Mes3: 3,
  Mes4: 6,
  Mes5: 1,
  Mes6: 4,
  Mes7: 6,
  Mes8: 2,
  Mes9: 5,
  Mes10: 7,
  Mes11: 3,
  Mes12: 5,
);
// Ingresar Variables
$Month: 2;
$dia: 18;
$color: darkcyan;

// Variables formuladas
$startday: map-get($map, Mes#{$Month});
$satur: 8-$startday, 15-$startday, 22-$startday, 29-$startday, 9-$startday,
  16-$startday, 23-$startday, 30-$startday;

/* General */
/* Header General */
@media only screen and (min-width: 1300px) {
  .Head__Bar--color {
    height: 170px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px, 60px, 30px;
    background-color: black;
  }
  /* Logo del header */
  .MainBar_Logo--height {
    width: 70px;
    height: 70px;
  }
  .titulo {
    color: black;
    text-decoration: none;
    font-size: 24px;
  }
  .LogoTitulo {
    height: 120px;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 20px 0 0 20px;
    filter: invert(100%);
    animation-name: anima;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
  }
  @keyframes anima {
    0% {
      height: 140px;
      padding: 0 0 0 20px;
      filter: invert(0%);
    }
    /* O pude ser from{} to{} */
    100% {
      filter: invert(100%);
    }
  }
  /* menu del header */
  .Menu {
    grid-column: 2/4;
    grid-row: 3;
  }
  .lista {
    padding: 0 20px 20px 20px;
    text-align: right;
    list-style: none;
    animation-name: menus;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
  }
  @keyframes menus {
    0% {
      filter: invert(100%);
      padding: 0 0 20px 0;
    }
    100% {
      padding: 0 20px 20px 20px;
    }
  }
  .lista li {
    padding-right: 20px;
    display: inline;
  }
  .lista a {
    color: white;
    padding-right: 20px;
    display: inline;
    text-decoration: none;
  }
  .lista a:hover {
    color: turquoise;
  }
  /* extra */
  .Section__Imagen--height {
    width: 100%;
    height: auto;
  }
  .titu {
    color: darkcyan;
  }
  .subt {
    color: black;
  }
  .ssub {
    color: white;
  }
  /* footer */
  .Footer_Grid--color {
    display: grid;
    background-image: linear-gradient(
      rgb(0, 218, 218),
      rgb(0, 155, 155),
      rgb(0, 65, 65)
    );
    grid-template-columns: repeat(3, 33.3%);
    text-align: center;
  }
  .Footer__Searchbar--position {
    font-size: 13px;
    grid-column: 1;
    grid-row: 2;
  }
  .sbox {
    font-size: 10px;
    border-radius: 5px;
    background-color: rgb(173, 250, 250);
  }
  .Footer__Logo--position {
    grid-column: 2;
    grid-row: 1/4;
  }
  .Footer__Logo--padding {
    padding-top: 5px;
    height: 45px;
    width: auto;
  }
  .TituloF {
    color: white;
    font-size: 10px;
    grid-column: 2;
    grid-row: 4;
  }
  .social {
    /* color: white; */
    font-size: 13px;
    grid-column: 3;
    grid-row: 1;
  }
  .face {
    color: white;
    font-size: 12px;
    grid-column: 3;
    grid-row: 2;
  }
  .insta {
    color: white;
    font-size: 12px;
    grid-column: 3;
    grid-row: 3;
  }
  .gith {
    color: white;
    font-size: 12px;
    grid-column: 3;
    grid-row: 4;
  }
  /* 
  P
  R
  O
  D
  U
  C
  T
  O
  S
  */
  .Productos__Grid--columns {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
  }
  /* Productos */
  /* Fullstack*/
  .fullstack {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
  }
  .fullVid {
    margin: auto;
    align-items: center;
    padding: 20px;
    height: auto;
    width: 50%;
  }
  .fullText {
    margin: auto;
    text-align: right;
    padding: 20px;
    justify-content: flex-end;
  }
  /* Webdesign*/
  .WebDesign {
    grid-column: 1/4;
    grid-row: 2;
    display: flex;
  }
  .webImg {
    margin: auto;
    align-items: center;
    padding: 20px;
    width: 45%;
    height: auto;
  }
  .webText {
    margin: auto;
    padding: 20px;
  }
  /* Databade */
  .dataBase {
    padding: 20px;
    grid-column: 1/4;
    grid-row: 3;
  }
  .dataCont {
    text-align: center;
  }
  .DBT {
    width: 100%;
  }

  /* 
  T
  E
  A
  M
   */

  .Team__Grid--columns {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 2;
  }

  .MapHistory {
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: aquamarine;
    background-color: rgb(148, 148, 148);
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .Employe1 {
    padding: 0 20% 0 20%;
    margin: auto;
    text-align: center;
    grid-column: 3/6;
    grid-row: 1/2;
  }
  .Employe2 {
    padding: 0 20px 0 20px;
    margin: auto;
    text-align: center;
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .Employe3 {
    padding: 0 20px 0 20px;
    margin: auto;
    text-align: center;
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .Employe4 {
    padding: 0 20px 0 20px;
    margin: auto;
    text-align: center;
    grid-column: 5/6;
    grid-row: 2/3;
  }

  .Team__Grid--columns img {
    filter: grayscale(100%);
  }
  .Team__Grid--columns img:hover {
    filter: grayscale(0%);
  }
  .map {
    width: 100%;
  }

  /* 
  U
  s
  e
  r
  s
   */
  .Body__Users--padding {
    padding: 20px 0 20px 0;
    text-align: center;
  }
  .Form {
    margin: 0 25% 0 25%;
    text-align: center;
    background-image: url(../media/Images/back.jpg);
  }

  .Section__Calendario--Mainrow {
    background-color: rgb(6, 177, 177);
    color: white;
  }

  // calendario

  .Section__Calendario--center {
    padding: 20px;
    text-align: center;
  }

  .Section__Calendario--grid {
    border-style: solid;
    border-color: rgb(6, 177, 177);
    padding: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .dia#{$dia/$dia} {
    grid-column-start: #{$startday};
  }

  @each $sat in $satur {
    .dia#{$sat} {
      color: gray;
      background-color: rgb(240, 238, 238);
    }
  }

  @for $ide from 1 through 3 {
    .dia#{ $dia - $ide } {
      background-color: lighten($color, 20% * $ide);
    }
  }

  .dia#{$dia} {
    color: whitesmoke;
    background-color: $color;
    font-weight: bolder;
  }

  .Section__Calendario--grid li {
    border: solid;
    border-color: whitesmoke;
  }
}

@media only screen and (max-width: 1300px) {
  .Head__Bar--color {
    height: 170px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px, 60px, 30px;
    background-color: black;
  }
  /* Logo del header */
  .MainBar_Logo--height {
    width: 70px;
    height: 70px;
  }
  .titulo {
    color: black;
    text-decoration: none;
    font-size: 24px;
  }
  .LogoTitulo {
    height: 120px;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 20px 0 0 20px;
    filter: invert(100%);
    animation-name: anima;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
  }
  @keyframes anima {
    0% {
      height: 140px;
      padding: 0 0 0 20px;
      filter: invert(0%);
    }
    /* O pude ser from{} to{} */
    100% {
      filter: invert(100%);
    }
  }
  /* menu del header */
  .Menu {
    grid-column: 2/4;
    grid-row: 3;
  }
  .lista {
    padding: 0 20px 20px 20px;
    text-align: right;
    list-style: none;
    animation-name: menus;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
  }
  @keyframes menus {
    0% {
      filter: invert(100%);
      padding: 0 0 20px 0;
    }
    100% {
      padding: 0 20px 20px 20px;
    }
  }
  .lista li {
    padding-right: 20px;
    display: inline;
  }
  .lista a {
    color: white;
    padding-right: 20px;
    display: inline;
    text-decoration: none;
  }
  .lista a:hover {
    color: turquoise;
  }
  /* extra */
  .Section__Imagen--height {
    width: 100%;
    height: auto;
  }
  .titu {
    color: darkcyan;
  }
  .subt {
    color: black;
  }
  .ssub {
    color: white;
  }
  /* footer */
  .Footer_Grid--color {
    display: grid;
    background-image: linear-gradient(
      rgb(0, 218, 218),
      rgb(0, 155, 155),
      rgb(0, 65, 65)
    );
    grid-template-columns: repeat(3, 33.3%);
    text-align: center;
  }
  .Footer__Searchbar--position {
    font-size: 13px;
    grid-column: 1;
    grid-row: 2;
  }
  .sbox {
    font-size: 10px;
    border-radius: 5px;
    background-color: rgb(173, 250, 250);
  }
  .Footer__Logo--position {
    grid-column: 2;
    grid-row: 1/4;
  }
  .Footer__Logo--padding {
    padding-top: 5px;
    height: 45px;
    width: auto;
  }
  .TituloF {
    color: white;
    font-size: 10px;
    grid-column: 2;
    grid-row: 4;
  }
  .social {
    /* color: white; */
    font-size: 13px;
    grid-column: 3;
    grid-row: 1;
  }
  .face {
    color: white;
    font-size: 12px;
    grid-column: 3;
    grid-row: 2;
  }
  .insta {
    color: white;
    font-size: 12px;
    grid-column: 3;
    grid-row: 3;
  }
  .gith {
    color: white;
    font-size: 12px;
    grid-column: 3;
    grid-row: 4;
  }
  /* 
  P
  R
  O
  D
  U
  C
  T
  O
  S
  */
  .Productos__Grid--columns {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 3;
  }
  /* Productos */
  /* Fullstack*/
  .fullstack {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
  }
  .fullVid {
    margin: auto;
    align-items: center;
    padding: 20px;
    height: auto;
    width: 50%;
  }
  .fullText {
    margin: auto;
    text-align: right;
    padding: 20px;
    justify-content: flex-end;
  }
  /* Webdesign*/
  .WebDesign {
    grid-column: 1/4;
    grid-row: 2;
    display: flex;
  }
  .webImg {
    margin: auto;
    align-items: center;
    padding: 20px;
    width: 45%;
    height: auto;
  }
  .webText {
    margin: auto;
    padding: 20px;
  }
  /* Databade */
  .dataBase {
    padding: 20px;
    grid-column: 1/4;
    grid-row: 3;
  }
  .dataCont {
    text-align: center;
  }
  .DBT {
    width: 100%;
  }

  /* 
  T
  E
  A
  M
   */

  .Team__Grid--columns {
    display: grid;
    grid-template-columns: 5;
    grid-template-rows: 5;
  }

  .MapHistory {
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: aquamarine;
    background-color: rgb(148, 148, 148);
    grid-column: 1/2;
    grid-row: 1/6;
  }

  .Employe1 {
    padding: 20px 25% 0 25%;
    margin: auto;
    text-align: center;
    grid-column: 4/6;
    grid-row: 1/2;
  }
  .Employe2 {
    padding: 20px 20px 0 20px;
    margin: auto;
    text-align: center;
    grid-column: 4/6;
    grid-row: 2/3;
  }
  .Employe3 {
    padding: 20px 20px 0 20px;
    margin: auto;
    text-align: center;
    grid-column: 4/6;
    grid-row: 3/4;
  }
  .Employe4 {
    padding: 20px 20px 0 20px;
    margin: auto;
    text-align: center;
    grid-column: 4/6;
    grid-row: 4/5;
  }

  .Team__Grid--columns img {
    filter: grayscale(100%);
  }
  .Team__Grid--columns img:hover {
    filter: grayscale(0%);
  }
  .map {
    width: 100%;
  }

  /* 
  U
  s
  e
  r
  s
   */
  .Body__Users--padding {
    padding: 20px 0 20px 0;
    text-align: center;
  }
  .Form {
    margin: 0 25% 0 25%;
    text-align: center;
    background-image: url(../media/Images/back.jpg);
  }

  //calendario//

  .Section__Calendario--Mainrow {
    background-color: rgb(6, 177, 177);
    color: white;
  }

  // calendario

  .Section__Calendario--center {
    padding: 20px;
    text-align: center;
  }

  .Section__Calendario--grid {
    border-style: solid;
    border-color: rgb(6, 177, 177);
    padding: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .dia#{$dia/$dia} {
    grid-column-start: #{$startday};
  }

  @each $sat in $satur {
    .dia#{$sat} {
      color: gray;
      background-color: rgb(240, 238, 238);
    }
  }

  @for $ide from 1 through 3 {
    .dia#{ $dia - $ide } {
      background-color: lighten($color, 20% * $ide);
    }
  }

  .dia#{$dia} {
    color: whitesmoke;
    background-color: $color;
    font-weight: bolder;
  }

  .Section__Calendario--grid li {
    border: solid;
    border-color: whitesmoke;
  }
}

@media only screen and (max-width: 768px) {
  .Head__Bar--color {
    height: 170px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
  }
  /* Logo del header */
  .MainBar_Logo--height {
    width: 70px;
    height: 70px;
  }
  .titulo {
    color: black;
    text-decoration: none;
    font-size: 24px;
  }
  .LogoTitulo {
    height: 120px;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 20px 0 0 20px;
    filter: invert(100%);
    animation-name: anima;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
  }
  @keyframes anima {
    0% {
      height: 140px;
      padding: 0 0 0 20px;
      filter: invert(0%);
    }
    /* O pude ser from{} to{} */
    100% {
      filter: invert(100%);
    }
  }
  /* menu del header */
  .Menu {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .lista {
    padding: 20px 20px 20px 20px;
    text-align: right;
    list-style: none;
    animation-name: menus;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
  }
  @keyframes menus {
    0% {
      filter: invert(100%);
      padding: 20px 0 20px 0;
    }
    100% {
      padding: 20px 20px 20px 20px;
    }
  }
  .lista li {
    padding-right: 20px;
    /* display: inline; */
  }
  .lista a {
    color: white;
    padding-right: 20px;
    display: block;
    text-decoration: none;
  }
  .lista a:hover {
    color: turquoise;
  }
  /* extra */
  .Section__Imagen--height {
    width: 100%;
    height: auto;
  }
  .titu {
    color: darkcyan;
  }
  .subt {
    color: black;
  }
  .ssub {
    color: white;
  }
  /* footer */
  .Footer_Grid--color {
    display: grid;
    background-image: linear-gradient(
      rgb(0, 218, 218),
      rgb(0, 155, 155),
      rgb(0, 65, 65)
    );
    grid-template-columns: 1;
    grid-template-rows: 7;
    text-align: center;
  }
  .Footer__Searchbar--position {
    font-size: 13px;
    grid-column: 2;
    grid-row: 1;
  }
  .sbox {
    font-size: 10px;
    border-radius: 5px;
    background-color: rgb(173, 250, 250);
  }
  .Footer__Logo--position {
    grid-column: 2;
    grid-row: 2;
  }
  .Footer__Logo--padding {
    padding-top: 5px;
    height: 45px;
    width: auto;
  }
  .TituloF {
    color: white;
    font-size: 10px;
    grid-column: 2;
    grid-row: 3;
  }
  .social {
    /* color: white; */
    font-size: 13px;
    grid-column: 2;
    grid-row: 4;
  }
  .face {
    color: white;
    font-size: 12px;
    grid-column: 2;
    grid-row: 5;
  }
  .insta {
    color: white;
    font-size: 12px;
    grid-column: 2;
    grid-row: 6;
  }
  .gith {
    color: white;
    font-size: 12px;
    grid-column: 2;
    grid-row: 7;
  }
  /* 
  P
  R
  O
  D
  U
  C
  T
  O
  S
  */
  .Productos__Grid--columns {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 9;
  }
  /* Productos */
  /* Fullstack*/
  .fullstack {
    grid-column: 1;
    grid-row: 1;
    display: block;
  }
  .fullVid {
    padding: 20px;
    height: auto;
    width: 93%;
  }
  .fullText {
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  /* Webdesign*/
  .WebDesign {
    background-color: lightcyan;
    grid-column: 1;
    grid-row: 2;
    display: block;
  }
  .webImg {
    margin: auto;
    align-items: center;
    padding: 20px;
    width: 93%;
    height: auto;
  }
  .webText {
    text-align: center;
    margin: auto;
    padding: 20px;
  }
  /* Databade */
  .dataBase {
    padding: 20px;
    grid-column: 1;
    grid-row: 3;
  }
  .dataCont {
    text-align: center;
  }
  .DBT {
    width: 100%;
  }

  /* 
  T
  E
  A
  M
   */

  .Team__Grid--columns {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5;
  }

  .MapHistory {
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: aquamarine;
    background-color: lightcyan;
    grid-column: 1;
    grid-row: 6;
  }

  .Employe1 {
    padding: 20px 20% 0 20%;
    margin: auto;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }
  .Employe2 {
    padding: 20px 20px 0 20px;
    margin: auto;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
  }
  .Employe3 {
    padding: 20px 20px 0 20px;
    margin: auto;
    text-align: center;
    grid-column: 1;
    grid-row: 3;
  }
  .Employe4 {
    padding: 20px 20px 0 20px;
    margin: auto;
    text-align: center;
    grid-column: 1;
    grid-row: 4;
  }

  .Team__Grid--columns img {
    filter: grayscale(100%);
  }
  .Team__Grid--columns img:hover {
    filter: grayscale(0%);
  }
  .map {
    width: 100%;
  }

  /* 
  U
  s
  e
  r
  s
   */
  .Body__Users--padding {
    padding: 20px 0 20px 0;
    text-align: center;
  }
  .Form {
    margin: 0 25% 0 25%;
    text-align: center;
    background-image: url(../media/Images/back.jpg);
  }

  .Section__Calendario--Mainrow {
    background-color: rgb(6, 177, 177);
    color: white;
  }

  .Section__Calendario--center {
    padding: 20px;
    text-align: center;
  }

  .Section__Calendario--grid {
    border-style: solid;
    border-color: rgb(6, 177, 177);
    padding: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .dia#{$dia/$dia} {
    grid-column-start: #{$startday};
  }

  @each $sat in $satur {
    .dia#{$sat} {
      color: gray;
      background-color: rgb(240, 238, 238);
    }
  }

  @for $ide from 1 through 3 {
    .dia#{ $dia - $ide } {
      background-color: lighten($color, 20% * $ide);
    }
  }

  .dia#{$dia} {
    color: whitesmoke;
    background-color: $color;
    font-weight: bolder;
  }

  .Section__Calendario--grid li {
    border: solid;
    border-color: whitesmoke;
  }
}
